@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "MuseoModerno", sans-serif;
  /* color: #212121; */
  color: #fff;
  /* background-color: #f2f2f3; */
  background-color: #0f172a;
  overflow-x: hidden;
}

/* hero shapes */
.shapes {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.shapes img {
  width: 60%;
  display: none;
}

.name-shape {
  margin: 0;
  position: absolute;
  transform-origin: center center;
  z-index: 1;
}

.unset {
  position: unset;
}

.bg-blur {
  /* Fallback for browsers that do not support backdrop-filter */
  /* background: rgba(
    229,
    229,
    247,
    0.6
  ); /* Replace with your background color and desired opacity */

  /* Apply the backdrop filter with blur to the background */
  /* backdrop-filter: blur(20px); Adjust the blur radius as needed */
}

.img-white {
  filter: grayscale(100%) brightness(100%) !important;
}

.bubble {
  width: 100px;
  height: 100px;
  background: conic-gradient(from 0deg at 50% 50%, #9a86df, #acf2ee);
  border-radius: 50%;
  position: relative;
  animation: moveBubble 4s infinite linear;
}

@keyframes moveBubble {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(200px, -100px);
  }
}

.member-item:hover .member-description {
  opacity: 1;
  visibility: visible;
}
